.footer {
    min-height: 266px;
    text-align: center;
}

.footer ul {
    list-style: none outside;
    padding: 0px;
}

.content_row.footer .content {
    padding-top: min(80px, 2.5vh);
    padding-bottom: min(135px, 7.5vh);
}

@media screen and (min-width: 768px) {
    .content_row.footer .content .row {
        flex-direction: row;
    }

    .footer {
        text-align: left;
    }

    .content_row.footer .content {
        padding-top: min(160px, 5vh);
        padding-bottom: min(270px, 15vh);
    }
}
