---
layout: blog_post.pug
priority: "0.9"
changefreq: daily
pagination:
  data: blogposts
  size: 1
  alias: blogpost
permalink: blog/{{blogpost.year}}/{{blogpost.month}}/{{blogpost.slug}}.html
eleventyComputed:
  cover: "{{blogpost.cover}}"
description: Writing from Open Studios in Perth, Western Australia.
---
