#page-wrapper
    .header_bg
    .header(role="banner")
        if ! isIframe
            .h1
                a(href='/' title='Home')
                    img(src='/assets/images/logo-wide.png' alt='Logo')
        else
            .h1
                a(title='Home')
                    img(src='/assets/images/logo-wide.png' alt='Logo')
    if ! isIframe
        .menu(role="navigation")
            ul(role="menu")
                li(role="presentation")
                    a(href='/worlds.html' role="menuitem") Worlds
                li(role="presentation")
                    a(href='/the_studio.html' role="menuitem") The Studio
                li(role="presentation")
                    a(href='/what_we_do.html' role="menuitem") What We Do
                li(role="presentation")
                    a(href='/about_us.html' role="menuitem") About Us
                li(role="presentation")
                    a(href='/support_us.html' role="menuitem") Support Us
        #pokematrix
            canvas#pokematrixCanvas
            canvas#pokematrixImage
            a#pokematrixSign
                img(src='/assets/go3d.svg' title='Enter the virtual 3D office' width='300' height='85' alt='A sign saying to go 3D')
        include ../templates/exit_image.pug
        include ../templates/exit_image_mobile.pug
    if page.url == '/about_us.html'
        - extra_class = ' bg_river'
    else if page.url == '/404.html'
        - extra_class = ' bg_river'
    else if page.url == '/worlds.html'
        - extra_class = ' bg_reverse'
    else if page.url == '/the_studio.html'
        - extra_class = ' bg_reverse'
    else 
        - extra_class = ''
    .content_row(role="main" class=extra_class)
        block page
    
    if page.url == '/about_us.html' || page.url == '/worlds.html' || page.url.indexOf('blog') >= 0
        .content_row.newsletter(role="complementary")
            .newsletter_bg
            .content
                .row
                    .tiles
                        .tile
                            .tile_content
                            .tile_innercontent
                                include ../content/blocks/list_behind_the_scenes.pug
                        .tile
                            .tile_content
                            .tile_innercontent
                                include ../content/blocks/tile_support_us.pug
    include ./footer.pug