doctype html
html
    head
        title
            block title
        meta(name="description" content="We are Open Studios. Perth based digital production studio.")
        link(href='./assets/1999.css' rel='stylesheet')
    body
        #page-wrapper
            .header
                .lineset.first
                    hr.line
                    hr.line
                    hr.line
                    hr.line
                .h1
                    a(href='./home.html' title='Home')
                        img(src='./assets/images/logo-wide.png' alt='Logo')
                .lineset.second
                    hr.line
                    hr.line
                    hr.line
                    hr.line
            noscript
                .menu
                    ul
                        li
                            a(href='./about_us.html') About Us
                        li
                            a(href='./services.html') Services
                        li
                            a(href='./case_studies.html') Case Studies
                        li
                            a(href='./portfolio.html') Portfolio
                        li
                            a(href='./contact_us.html') Contact Us
            block page
            .footer
                .lineset.second
                    hr.line
                    hr.line
                    hr.line
                    hr.line
                .lineset.first
                    hr.line
                    hr.line
                    hr.line
                    hr.line