doctype html
html
    head
        title
            block title
        base(href="./")
        meta(name="description" content="We are Open Studios. Perth based digital production studio.")

        include ./head_common.pug

    body
        - var isIframe = false
        include ./1999_layout.pug