#page-wrapper
    .header
        .lineset.first
            hr.line
            hr.line
            hr.line
            hr.line
        if ! isIframe
            .h1
                a(href='./' title='Home')
                    img(src='/assets/images/logo-wide.png' alt='Logo')
        else
            .h1
                a(title='Home')
                    img(src='/assets/images/logo-wide.png' alt='Logo')
        .lineset.second
            hr.line
            hr.line
            hr.line
            hr.line
    if ! isIframe
        .menu
            ul
                li
                    a(href='/about_us.html') About Us
                li
                    a(href='/services.html') Services
                li
                    a(href='/case_studies.html') Case Studies
                li
                    a(href='/portfolio.html') Portfolio
                li
                    a(href='/contact_us.html') Contact Us
        #pokematrix
            canvas#pokematrixCanvas
            canvas#pokematrixImage
            a#pokematrixSign
                img(src='./assets/exit.svg' title='Return to the office' width='300' height='85')
        include ../templates/exit_image.pug
    block page
    .footer
        .lineset.second
            hr.line
            hr.line
            hr.line
            hr.line
        .lineset.first
            hr.line
            hr.line
            hr.line
            hr.line