#page-wrapper
    .header_bg
    .header
        if ! isIframe
            .h1
                a(href='./' title='Home')
                    img(src='/assets/images/logo-wide.png' alt='Logo')
        else
            .h1
                a(title='Home')
                    img(src='/assets/images/logo-wide.png' alt='Logo')
    if ! isIframe
        .menu
            ul
                li
                    a(href='/about_us.html') About Us
                li
                    a(href='/services.html') Services
                li
                    a(href='/case_studies.html') Case Studies
                li
                    a(href='/portfolio.html') Portfolio
                li
                    a(href='/contact_us.html') Contact Us
        #pokematrix
            canvas#pokematrixCanvas
            canvas#pokematrixImage
            a#pokematrixSign
                img(src='./assets/exit.svg' title='Return to the office' width='300' height='85')
        include ../templates/exit_image.pug
        include ../templates/exit_image_mobile.pug
    .content_container
        block page
    .content_container.newsletter
        .newsletter_bg
        .content
            .row.center
                .wide-column
                    script.
                        function newsletterSubmit(token) {
                            var validationElm = document.getElementById("newslettervalidation");
                            var data = document.getElementById("newsletterform");
                            fetch(data.getAttribute('action'), {
                                method: data.getAttribute('method'),
                                body: new FormData(data)
                            }).then(function (response) {
                                if (response.status === 200) {
                                return response.text();
                                } else {
                                validationElm.innerHTML = response.text();
                                }
                            })
                            .then(function (data) {
                                validationElm.innerHTML = data;
                                if (validationElm.innerHTML.indexOf('Email sent successfully.') >= 0) {
                                    document.getElementById("newsletterform").reset();
                                }
                            });
                        }
                    form#newsletterform(method='post' action='https://mailform.openstudios.xyz/')
                        h3 Subscribe to our newsletter
                        p Get all our latest insights, tips and project updates, conveniently in your inbox.
                        table
                            tr
                                td(style='width: 80%')
                                    input(type='hidden' name='name' value='n/a')
                                    input(type='hidden' name='message' value='Newsletter signup request')
                                    input(type='email' name='email' placeholder='Email address')
                                td
                                    button(class="g-recaptcha" 
                                        data-sitekey="6LeiXp4nAAAAAKRxcYacR0ZhbcNjf7OMCkjolpNL" 
                                        data-callback='newsletterSubmit' 
                                        data-action='submit') Subscribe
                        h3#newslettervalidation(style="color: red; font-weight: bold;")
    .content_container.footer
        .content
            if ! isIframe
                .row
                    .narrow-column
                        h3 About us
                        a(href='/about_us.html') Meet the team
                        br
                        a(href='/about_us.html') Our values
                        br
                    .narrow-column
                        h3 Services
                        a(href='/services.html') 3D Modelling and Printing
                        br
                        a(href='/services.html') Animation
                        br
                        a(href='/services.html') Game Development
                        br
                        a(href='/services.html') Graphic Design
                        br
                        a(href='/services.html') Interactive Design
                        br
                        a(href='/services.html') Marketing Design
                        br
                        a(href='/services.html') Product design
                        br
                        a(href='/services.html') Web design
                        br
                        a(href='/services.html') Web development
                        br
                        a(href='/services.html') Video production
                        br
                    .narrow-column
                        h3 Our work
                        a(href='/case_studies.html') Case studies
                        br
                        a(href='/projects.html') Projects
                        br
                        a(href='/contact_us.html') Contact Us
                        br
                    .narrow-column
                        h3 Terms
                        a(href='/accessibility.html') Accessibility
                        br
                        a(href='/ai-copyright.html') AI and Copyright Policy
                        br
                        a(href='/privacy.html') Privacy Policy
                        br
            .row.center
                if ! isIframe
                    .h1
                        a(href='./' title='Home')
                            img(src='/assets/images/logo-wide.png' alt='Logo')
                else
                    .h1
                        a(title='Home')
                            img(src='/assets/images/logo-wide.png' alt='Logo')