.content_row.footer
    .content
        if ! isIframe
            .row
                .narrow-column
                    h3 Worlds
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/worlds.html' role="menuitem") Demonology
                        li(role="presentation")
                            a(href='/worlds.html' role="menuitem") Kamigen
                        li(role="presentation")
                            a(href='/worlds.html' role="menuitem") Langenium
                .narrow-column
                    h3 The Studio
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/the_studio.html' role="menuitem") Blog
                        li(role="presentation")
                            a(href='/the_studio.html' role="menuitem") Behind the scenes
                        li(role="presentation")
                            a(href='/the_studio.html' role="menuitem") Guides
                        li(role="presentation")
                            a(href='/the_studio.html' role="menuitem") Source Code
                        li(role="presentation")
                            a(href='/the_studio.html' role="menuitem") Software
                .narrow-column
                    h3 What We Do
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/what_we_do.html' role="menuitem") Research &amp; Development
                        li(role="presentation")
                            a(href='/what_we_do.html' role="menuitem") Open Source
                .narrow-column
                    h3 Terms
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/accessibility.html' role="menuitem") Accessibility
                        li(role="presentation")
                            a(href='/ai-copyright.html' role="menuitem") AI and Copyright Policy
                        li(role="presentation")                
                            a(href='/privacy.html' role="menuitem") Privacy Policy

        .row.center
            if ! isIframe
                .h1
                    a(href='./' title='Home')
                        img(src='/assets/images/logo-wide.png' alt='Logo')
            else
                .h1
                    a(title='Home')
                        img(src='/assets/images/logo-wide.png' alt='Logo')