.content_row.footer
    .content
        if ! isIframe
            .row
                .narrow-column
                    h3 About us
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/about_us.html' role="menuitem") Meet the team
                        li(role="presentation")
                            a(href='/about_us.html' role="menuitem") Our values
                        li(role="presentation")
                            a(href='/blog.html' role="menuitem") Blog
                .narrow-column
                    h3 Services
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") 3D Modelling and Printing
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Animation
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Game Development
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Graphic Design
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Interactive Design
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Marketing Design
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Product design
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Web design
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Web development
                        li(role="presentation")
                            a(href='/services.html' role="menuitem") Video production
                .narrow-column
                    h3 Our work
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/case_studies.html' role="menuitem") Case studies
                        li(role="presentation")
                            a(href='/portfolio.html' role="menuitem") Portfolio
                        li(role="presentation")
                            a(href='/contact_us.html' role="menuitem") Contact Us
                .narrow-column
                    h3 Terms
                    ul(role="menu")
                        li(role="presentation")
                            a(href='/accessibility.html' role="menuitem") Accessibility
                        li(role="presentation")
                            a(href='/ai-copyright.html' role="menuitem") AI and Copyright Policy
                        li(role="presentation")                
                            a(href='/privacy.html' role="menuitem") Privacy Policy

        .row.center
            if ! isIframe
                .h1
                    a(href='./' title='Home')
                        img(src='/assets/images/logo-wide.png' alt='Logo')
            else
                .h1
                    a(title='Home')
                        img(src='/assets/images/logo-wide.png' alt='Logo')