---
permalink: "iframes/blog/2023/11/studio-roundup-november-2023.html"
dynamicPermalink: false
title: Studio Roundup for November 2023 | Open Studios | Perth, Western Australia
eleventyExcludeFromCollections: true
---

extends ../../../../templates/1999_html.pug

block append page
  h2 November 2023
  .content(style="display: inherit;")
    include:markdown-it(html) ../../../../content/blog/2023/11/Studio Roundup for November 2023.md
