---
permalink: "blog/2024/05/studio-roundup-may-2024.html"
dynamicPermalink: false
title: Studio Roundup for May 2024 | Open Studios | Perth, Western Australia
description: Explore our digital studio case studies, where we feature some of our best work. Gain insights into our process, expertise and abilities.
cover: https://openstudios.xyz/assets/images/pages/case_studies.jpg
date: 2024-06-24T23:32:00.000Z
priority: "0.9"
changefreq: daily
---

extends ../../../../templates/1999_html.pug

block append page
  h2 May 2024
  .content(style="display: inherit;")
    include:markdown-it(html) ../../../../content/blog/2024/05/Studio Roundup for May 2024.md
