p We open source all major projects. All are welcome to our code whether you're just curious about how we did something or want to use our work as a boilerplate make your own project.
p Recent projects:
p
    a(href='https://github.com/OpenStudiosCo/kamigen.com') Kamigen Comics
p
    a(href='https://github.com/OpenStudiosCo/Langenium') Langenium Game
p
    a(href='https://github.com/OpenStudiosCo/openstudios.xyz') Open Studios Website
br
p.align_right
    a(href='https://github.com/OpenStudiosCo/') Visit our Github
