h3 Behind the scenes
p Take a step back through our blog to see behind the scenes updates on our projects including retrospectives and progress updates.
p Recent highlights:
p
    a(href='/blog/2025/05/langenium-v6-retrospective.html' target='_blank' title='Langenium v6 Retrospective') Langenium V6 Retrospective
p
    a(href='/blog/2024/05/studio-roundup-may-2024.html' target='_blank' title='Studio Roundup for May 2024') Studio Roundup for May 2024
br
p.align_right
    a(href='/blog.html' target='_blank' title='Read our blog') Read our blog
