@font-face {
    font-family: SourceSans;
    src: url(/assets/fonts/SourceSans3-Light.woff);
    src: url(/assets/fonts/SourceSans3-Light.woff2);
}

@font-face {
    font-family: Stigmature;
    src: url(/assets/fonts/Stigmature.otf);
}

@font-face {
    font-family: VeraMono;
    src: url(/assets/fonts/VeraMono.woff);
    src: url(/assets/fonts/VeraMono.woff2);
}

