---
permalink: "iframes/blog/2024/04/studio-roundup-april-2024.html"
dynamicPermalink: false
title: Studio Roundup for April 2024 | Open Studios | Perth, Western Australia
eleventyExcludeFromCollections: true
---

extends ../../../../templates/1999_iframe.pug

block append page
  h2 April 2024
  .content(style="display: inherit;")
    include:markdown-it(html) ../../../../content/blog/2024/04/Studio Roundup for April 2024.md
