---
permalink: "blog/2024.html"
dynamicPermalink: false
title: 2024 Blog | Open Studios | Perth, Western Australia
description: Explore our digital studio case studies, where we feature some of our best work. Gain insights into our process, expertise and abilities.
cover: https://openstudios.xyz/assets/images/pages/case_studies.jpg
date: 2025-05-18T00:55:00.000Z
priority: "0.9"
changefreq: daily
---

extends ../../templates/1999_html.pug

block append page
  include ../../content/blog/2024.pug