.blog_post {
    display: block !important;

    h2 {
        font-family: SourceSans !important;
        font-size: 4rem !important;
        text-transform: none !important;
        padding-bottom: 2rem !important;
        font-style: italic !important;
        line-height: 6rem !important;
        font-weight: bold !important;
    }

    img {
        width: 100% !important;
        height: auto !important;
    }
    
    li strong,
    li,
    p {
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }

    li strong {
        display: block;
    }
}