.blog_post {

    img {
        width: 100% !important;
        height: auto !important;
    }
    
    li strong,
    li,
    p {
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }

    li strong {
        display: block;
    }
}