@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    overflow-x: hidden;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

#wrapper #container {
    @apply grid grid-cols-4 gap-12;
}

#right-sidebar .socials ul {
    @apply grid grid-cols-5 gap-2;
}

#right-sidebar .socials img {
    height: auto;
    width: 100%;
    max-width: 100px;
}

@screen md {}

@screen lg {}

@screen xl {}

@keyframes blurout {
    0% {
        filter: blur(0px);
        opacity: 1.0;
    }

    100% {
        filter: blur(20px);
        opacity: 0.0;
        animation-play-state: paused;
    }

}

@keyframes blurin {
    0% {
        filter: blur(20px);
        opacity: 0.0;
    }

    100% {
        filter: blur(0px);
        opacity: 1.0;
        animation-play-state: paused;
    }

}
