---
permalink: "loader.html"
dynamicPermalink: false
---

head
    title HTML5 Canvas Matrix Effect
    style.
        body {
            margin: 0;
        }
        canvas {
            display: block;
            position:absolute;
            top:0;
            left:0;
        }
        h1 {
            color: #dedede;
            display: flex;
            position: absolute;
            z-index: 2;
            bottom: 1rem;
            right: 2rem;
        }
        h1 div {
            display: inline-block;
            font-family: monospace;
            font-size: 2.5rem;
            padding: 1rem 2.5rem 1rem 0;
        }
        h1 img {
            height: 5rem;
            width: 5rem;
        }
canvas#loader_symbols Canvas is not supported in your browser.
canvas#loader_symbols2 Canvas is not supported in your browser.
canvas#loader_image Canvas is not supported in your browser.
h1
    div Loading
    img(src='/assets/images/tail-spin.svg')
script
    include ../templates/matrix.js