---
permalink: "portfolio.html"
dynamicPermalink: false
---

extends ../templates/1999.pug

block append title
  | Portfolio | Open Studios

block append page
  h1 Portfolio
  .content
    .row
      .column
        img(src='./assets/images/p1.jpg' style=' width: 100%; height: auto;')
      .column
        img(src='./assets/images/p2.jpg' style=' width: 100%; height: auto;')
    .row
      .column
        img(src='./assets/images/p3.jpg' style=' width: 100%; height: auto;')
      .column
        img(src='./assets/images/p4.jpg' style=' width: 100%; height: auto;')
    .row
      .column
        img(src='./assets/images/p6.jpg' style=' width: 100%; height: auto;')
      .column
        img(src='./assets/images/p5.jpg' style=' width: 100%; height: auto;')