---
layout: blog_post_iframe.pug
pagination:
  data: blogposts
  size: 1
  alias: blogpost
permalink: iframes/blog/{{blogpost.year}}/{{blogpost.month}}/{{blogpost.slug}}.html
eleventyComputed:
  cover: "{{blogpost.cover}}"
eleventyExcludeFromCollections: true
---
