---
permalink: "iframes/case_studies.html"
dynamicPermalink: false
eleventyExcludeFromCollections: true
---

extends ../../templates/1999_iframe.pug

block append title
  | Case Studies | Open Studios

block append page
  include ../../content/case_studies.pug