h2 Page not found
.content
  .row.center
    .wide-column
      br
      br
      p Sorry mate but the page you are looking for has moved, or perhaps never existed at all...
      br
      br
      br
      br