h2 About Us
.content
  .row.center
    .wide-column
      p
        | We&apos;re Open Studios, a multi disciplinary digital production studio.
        br
        |  Creating unique and meaningful experiences since 2019.
        br
        |             We are a husband and husband team, plus two dogs and a cat.
  .row
    .column
      img(src='./assets/images/paul.jpg' style=' width: 100%; height: auto;' alt='Selfie of Paul with his two doggos in the car')
      h3
        | Paul Brzeski&nbsp;
        a.icon_button(href='https://linkedin.com/in/paul-b-23620b209/' title='Paul Brzeski on LinkedIn')
          img(src='./assets/images/linkedin.png')
      p
        | Introducing Paul, a versatile and forward-thinking problem solver with over 15 years in the industry. Beyond the traditional boundaries of coding, Paul has embraced a multifaceted style that seamlessly blends technology and creativity to craft innovative solutions.
      p
        | With a natural ability to envision the intersection of art and technology, Paul&apos;s journey has been characterized by staying at the forefront of the ever-changing tech landscape and pushing the boundaries of what&apos;s possible. He seamlessly adapts to different environments, bringing a perfect blend of technical expertise and creative flair to each project.
      h4 Skills
      ul
        li 3D Production
        li Character design
        li Dashboard systems
        li Generative A.I.
        li Software development
        li Solution architecture
        li Technical consulting
        li UI/UX design
        li Web development
      h4 Tools
      ul
        li Affinity Designer
        li Affinity Photo
        li Blender
        li Linux. Lots of Linux.
        li Stable Diffusion
        li Three.JS
        li VSCode
    .column
      img(src='./assets/images/garrett.png' style=' width: 100%; height: auto;' alt='Photo of Garrett studying a whisky blend at a distillery in Scotland')
      h3
        | Garrett Kinder&nbsp;
        a.icon_button(href='https://www.linkedin.com/in/garrett-ray-kinder-361ba6a5/' title='Garrett Kinder on LinkedIn')
          img(src='./assets/images/linkedin.png' alt='LinkedIn logo')
      p
        | Meet Garrett, the embodiment of sophistication and innovation, renowned as an award-winning bartender, expert jeweler, and connoisseur of rare whiskies.
      p
        | Embracing the digital realm, Garrett shares his passion and expertise as a taste visionary, enriching the online world with his profound knowledge of aesthetics and all things refined.
      h4 Skills
      ul
        li 3D Modelling and Renders
        li Creative consulting
        li Generative A.I.
        li Graphic design
        li Photography
        li Product design
        li Social media management
      h4 Tools
      ul
        li Affinity Designer
        li Affinity Photo
        li Blender
        li Stable Diffusion