h2 About Us
.content
  .row.center
    .wide-column
      p
        | We&apos;re Open Studios, a multi disciplinary digital production studio.
        br
        | Creating unique and meaningful experiences since 2019.
        br
        | We are a husband and husband team, plus two dogs and a cat.
  .row
    .profiles
      .profile
        img.profile_image(src='/assets/images/about-us/paul.jpg' style=' width: 100%; height: auto;' alt='Selfie of Paul with his two doggos in the car')
        h3
          | Paul Brzeski&nbsp;
          a.icon_button(href='https://linkedin.com/in/paul-b-23620b209/' title='Paul Brzeski on LinkedIn')
            img(src='/assets/images/linkedin.png')
        p
          | Introducing Paul, a creative technologist with two decades in the industry. Starting in software development, Paul has branched out as a creative in his role at the studio.
        p
          | With a proficiency for producing art and technology, Paul&apos;s journey has been characterized by staying at the forefront of the ever-changing tech landscape and pushing the boundaries of what&apos;s possible.
      .profile
        img.profile_image(src='/assets/images/about-us/garrett.png' style=' width: 100%; height: auto;' alt='Photo of Garrett studying a whisky blend at a distillery in Scotland')
        h3
          | Garrett Kinder&nbsp;
          a.icon_button(href='https://www.linkedin.com/in/garrett-ray-kinder-361ba6a5/' title='Garrett Kinder on LinkedIn')
            img(src='/assets/images/linkedin.png' alt='LinkedIn logo')
        p
          | Meet Garrett, the embodiment of sophistication and innovation, renowned as an award-winning bartender, expert jeweler, and connoisseur of rare whiskies.
        p
          | From bar manager to digital artist, Garrett is skilled at creating visually compelling stories using 2D and 3D assets. Enriching our online world with his profound knowledge of aesthetics and all things refined.
  .row.center
    .wide-column
      h3 Our values
  .row.center
    .feature
      .feature_media
        img(src='/assets/images/about-us/aboriginal-flag.png' alt='The Australian Aboriginal Flag')
      .feature_content
        p Open Studios acknowledges the Nyoongar Whadjuk people - traditional custodians of this land. We wish to acknowledge the strength of their continuing culture and pay our respects to Elders past and present.
  .row.center
    .feature
      .feature_content
        p Free and Open Source software is as much a way of thinking as it is a licensing scheme, as such we strive to be accountable, transparent, informative and useful to others in all business interactions and activities.
      .feature_media
        img(src='/assets/images/about-us/linux.png' alt='Collage of Open Source project logos')
  .row.center
    .feature
      .feature_media
        img(src='/assets/images/about-us/newpride.png' alt='2018 Progress Pride Flag by Daniel Quasar')
      .feature_content
        p We embrace differences, cherishing the rich tapestry of backgrounds, experiences, and identities that each person brings. It is important to us that working relationships are not only productive but also built on a foundation of mutual respect and appreciation.
