h2 Blog
.content
  .row
    .column
      a(href='/blog/2023/01/studio-roundup-january-2023.html' target='_blank' title='3D Studio Website case study on Artstation')
        img(src='/assets/blog/2023/01/1_0twpdr9rjoC3lNUQ1o1Wow.webp' style=' width: 100%; height: auto;' alt='Screenshot of the new 3D website experience')
    .column
      h3 Studio Roundup for January 2023
      p.
        Cartoons, magazines, comics, GIA rated diamonds... we've got it all!
      p
        a(href='/blog/2023/01/studio-roundup-january-2023.html') Check out
        |  our January 2023 update for more.
