h2 Blog
.content
  .menu(role="navigation")
      ul(role="menu")
          li(role="presentation") Recent articles
          li(role="presentation")
              a(href='/blog/2024.html' role="menuitem") 2024
          li(role="presentation")
              a(href='/blog/2023.html' role="menuitem") 2023
  .row

  .menu(role="navigation")
      ul(role="menu")
          li(role="presentation") Recent articles
          li(role="presentation")
              a(href='/blog/2024.html' role="menuitem") 2024
          li(role="presentation")
              a(href='/blog/2023.html' role="menuitem") 2023
