h1 Welcome!
.content
  .row
    .column
      .column
        img(src='./assets/images/cs1xl.jpg' style=' width: 100%; height: auto;')
      .column
        h3 This website
        p
          | The new studio website is designed to cause shockwaves by being something different but also familiar.
          | We want you to feel like you&apos;ve walked into a real office where we do our work.
        a(href='#' style='float: right') See case study
    .column
      h3(style='margin-top: 0') Our work
      img(src='./assets/images/portfolio/open-studios-cherry-blossom-ring-in-zen-garden.jpg' style='margin: 2%; width: 45%; height: auto;')
      img(src='./assets/images/portfolio/open-studios-1-winter-banner-ring.jpg' style='margin: 2%; width: 45%; height: auto;')
      img(src='./assets/images/portfolio/open-studios-character-design.jpg' style='margin: 2%; width: 45%; height: auto;')
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style='margin: 2%; width: 45%; height: auto;')
      a(href='#' style='float: right') View portfolio
  noscript
    .row    
      .column-wide
        h3 The 1999 Experience
        p This website requires Javascript for the full experience. As you don&apos;t have Javascript enabled, you are seeing the 1999 experience.
  .row
    h3(style='margin: 0') Services
  .row(style='margin-top: 0')
    a.service_button(href='#') Creative Prototyping
    a.service_button(href='#') Data Visualization
    a.service_button(href='#') Emerging Technologies
    a.service_button(href='#') Front-end Development
    a.service_button(href='#') Interactive Experiences
  .row(style='margin-top: 0')
    a.service_button(href='#') Project Management
    a.service_button(href='#') Social Media Management
    a.service_button(href='#') Technical Consulting
    a.service_button(href='#') UI/UX Design
    a.service_button(href='#') Web Development
