h2 Welcome!
.content
  .row
    .column
      h3 We are Open Studios
      include blocks/paragraph_about

      noscript
        h3 You are seeing the "1999 Experience"
        p The 3D virtual office requires ECMAScript 2018 to load. Your current browser/device does not seem to support the features we need to boot up so you are seeing the "1999 experience" instead.      

    .column
      section
        h3(style='margin-top: 0') Recent updates

        article
          a(href='/blog/2025/07/beginners-guide-to-self-hosted-applications.html' target='_blank' title='Guide to Self Hosted Applications')
            img(src='/assets/blog/2025/07/max-harlynking-_QcLpud-gD0-unsplash-1-1024x683.jpg' style='width: 100%; height: auto; min-height: 107px; object-fit: cover;' alt='A screenshot from the guide')
          a(href='/blog/2025/07/beginners-guide-to-self-hosted-applications.html' target='_blank' title='Beginniners Guide to Self Hosted Applications')
            h3 Beginniners Guide to Self Hosted Applications
          p.
            Our curated guide to using free and open source software (FOSS) to boost your productivity, compliance and competitives.

        article
          a(href='/blog/2025/05/langenium-v6-retrospective.html' target='_blank' title='Langenium v6 Retrospective')
            img(src='/assets/blog/2025/05/3d-logo-01-1024x576.png' style='width: 100%; height: auto; min-height: 107px; object-fit: cover;' alt='A screenshot from the Langenium blog article')
          a(href='/blog/2025/05/langenium-v6-retrospective.html' target='_blank' title='Langenium v6 Retrospective')
            h3 Langenium v6 Retrospective
          p.
            An overview of this major overhaul of our open source MMORPG project Langenium. This new version adds procedurally generatd scenery, NPC AI, minimaps and new aircraft subsystems.
