h2 Services
.content
  .row.center
    .wide-column
      p
        | Founded to produce our own ideas and passion projects, Open Studios is here to be your parter in turning dreams into reality. We have over two decades combined experience in digital production. Our team collaborates seamlessly with organisations large and small, if you have a really big idea in mind we can draw upon a network of trusted professionals to fill the ranks of an efficient and effective project delivery team.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of the animated intro sequence from Kamigen')
      h3 Animation
      p
        | Transform your ideas into captivating visual stories. Whether it's a 2D or 3D animation, we bring concepts to life, adding movement and personality to your content. From product videos to character animations, we tailor our work to suit you.
    .column
      img(src='./assets/images/portfolio/open-studios-dsc-2483-darker.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
      h3 Commercial video production
      p
        | Elevate and promote your brand with video ads. We specialize in crafting a moment within its own world, a memorable experience that will resonate with your target audience. From concept development and video production and editing, we ensure your message is delivered effectively and memorably.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of the animated intro sequence from Kamigen')
      h3 Animation
      p
        | Transform your ideas into captivating visual stories. Whether it's a 2D or 3D animation, we bring concepts to life, adding movement and personality to your content. From product videos to character animations, we tailor our work to suit you.
    .column
      img(src='./assets/images/portfolio/open-studios-dsc-2483-darker.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
      h3 Commercial video production
      p
        | Elevate and promote your brand with video ads. We specialize in crafting a moment within its own world, a memorable experience that will resonate with your target audience. From concept development and video production and editing, we ensure your message is delivered effectively and memorably.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of the animated intro sequence from Kamigen')
      h3 Animation
      p
        | Transform your ideas into captivating visual stories. Whether it's a 2D or 3D animation, we bring concepts to life, adding movement and personality to your content. From product videos to character animations, we tailor our work to suit you.
    .column
      img(src='./assets/images/portfolio/open-studios-dsc-2483-darker.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
      h3 Commercial video production
      p
        | Elevate and promote your brand with video ads. We specialize in crafting a moment within its own world, a memorable experience that will resonate with your target audience. From concept development and video production and editing, we ensure your message is delivered effectively and memorably.
