h2 Services
.content
  .row.center
    .wide-column
      p
        | Founded to produce our own ideas and passion projects, Open Studios is here to be your parter in turning dreams into reality. We have over two decades combined experience in digital production. Our team collaborates seamlessly with organisations large and small, if you have a really big idea in mind we can draw upon a network of trusted professionals to fill the ranks of an efficient and effective project delivery team.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-kamigen.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of the animated intro sequence from Kamigen')
      h3 Animation
      p
        | Transform your ideas into captivating visual stories. Whether it's a 2D or 3D animation, we bring concepts to life, adding movement and personality to your content. From product videos to character animations, we tailor our work to suit you.
    .column
      img(src='./assets/images/portfolio/open-studios-dsc-2483-darker.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
      h3 Commercial video production
      p
        | Elevate and promote your brand with video ads. We specialize in crafting a moment within its own world, a memorable experience that will resonate with your target audience. From concept development and video production and editing, we ensure your message is delivered effectively and memorably.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-kamigengame.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Concept art for the Kamigen mobile game UI and gameplay')
      h3 Game development
      p
        | Immerse your audience in interactive worlds on the web, mobile and PC. From concept design to coding and testing, we specialize in creating unique eye catching graphics that aren't seen elsewhere. We are experienced in performance optimisation, fine tuning shaders and game engine effects to ensure the best possible look for your video game project and target platform.
    .column
      img(src='./assets/images/portfolio/open-studios-cottagecore-frog-lilypad.jpg' style=' width: 100%; height: 250px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
      h3 Modelling and product renders
      p
        | Showcase your product in the best light with our modeling and product rendering services. Using custom 3D models and a meticulously configured rendering pipeline to get the perfect image. Whether it's a stylised look or realistic renders we ensure a visually appealing and accurate representation, perfect for marketing materials and presentations.
  .row
    .column
      img(src='./assets/images/portfolio/open-studios-virtual-office.jpg' style=' width: 100%; height: 250px; object-fit: cover; object-position: 0 25%;' alt='Screenshot of the Open Studios 3D virtual office website experience')
      h3 3D Web Experiences
      p
        | Redefine online engagement with our 3D web experiences. We have extensive experience with WebGL/Three.JS, allowing us to create immersive online environments. In these digital worlds users interact with content in three dimensions. From virtual tours to interactive product displays, we can translate your vision into an experience that works on multiple platforms including older computers and mobile.
    .column
      img(src='./assets/images/cs2.jpg' style=' width: 100%; height: 250px; object-fit: cover; object-position: top;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
      h3 Full Stack Web Development
      p
        | We can build static websites, eCommerce, CMS and cloud services using industry leading open source software. We handle everything from the user interface to the server-side logic, ensuring seamless functionality and a polished user experience. Our expertise spans front-end technologies, back-end development, and infrastructure, providing comprehensive solutions for your online presence.