h2 Services
.content
  .row.center
    .wide-column
      p
        | Open Studios has a wealth of tools, skills and unique knowledge that becomes available to you when you hire us. We founded this studio to make our dreams into reality. When you hire us, we apply the same passion to your ideas and make your dreams a reality too.
  .row.center
    .feature.wide
      .feature_content
        h3 Video commercials
        p.
          Elevate and promote your brand with video ads. We specialize in crafting a moment within its own world, a memorable experience that will resonate with your target audience. From concept development and video production and editing, we ensure your message is delivered effectively and memorably.
      .feature_media
        img(src='/assets/images/portfolio/open-studios-dsc-2483-darker.jpg' style=' width: 100%; height: 350px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
  .row.center
    .feature.wide
      .feature_media
        img(src='/assets/images/portfolio/open-studios-kamigen.jpg' style=' width: 100%; height: 350px; object-fit: cover;' alt='Screenshot of the animated intro sequence from Kamigen')
      .feature_content
        h3 Animation
        p
          | Transform your ideas into captivating visual stories. Whether it's a 2D or 3D animation, we bring concepts to life, adding movement and personality to your content. From product videos to character animations, we tailor our work to suit you.
  .row.center
    .feature.wide
      .feature_content
        h3 3D Modelling and product renders
        p
          | Showcase your product in the best light with our modeling and product rendering services. Using custom 3D models and a meticulously configured rendering pipeline to get the perfect image. Whether it's a stylised look or realistic renders we ensure a visually appealing and accurate representation, perfect for marketing materials and presentations.
      .feature_media
        img(src='/assets/images/portfolio/open-studios-cottagecore-frog-lilypad.jpg' style=' width: 100%; height: 350px; object-fit: cover;' alt='Screenshot of a jewellery commercial for Garrett Ray Jewellery')
  .row.center
    .feature.wide
      .feature_media
        img(src='/assets/images/portfolio/open-studios-virtual-office.jpg' style=' width: 100%; height: 350px; object-fit: cover; object-position: 0 25%;' alt='Screenshot of the Open Studios 3D virtual office website experience')
      .feature_content
        h3 3D Web Experiences
        p
          | Redefine online engagement with our 3D web experiences. We have extensive experience with WebGL/Three.JS, allowing us to create immersive online environments. In these digital worlds users interact with content in three dimensions. From virtual tours to interactive product displays, we can translate your vision into an experience that works on multiple platforms including older computers and mobile.
  .row.center
    .feature.wide
      .feature_content
        h3 Full Stack Web Development
        p
          | We can build static websites, eCommerce, CMS and cloud services using industry leading open source software. We handle everything from the user interface to the server-side logic, ensuring seamless functionality and a polished user experience. Our expertise spans front-end technologies, back-end development, and infrastructure, providing comprehensive solutions for your online presence.
      .feature_media
        img(src='/assets/images/cs2.jpg' style=' width: 100%; height: 350px; object-fit: cover; object-position: top;' alt='Screenshot of the Garrett Ray Jewellery website, built with Shopify')
  .row.center
    .feature.wide
      .feature_media
        img(src='/assets/images/portfolio/open-studios-kamigengame.jpg' style=' width: 100%; height: 350px; object-fit: cover;' alt='Concept art for the Kamigen mobile game UI and gameplay')
      .feature_content
        h3 Game development
        p
          | Immerse your audience in interactive worlds on the web, mobile and PC. From concept design to coding and testing, we specialize in creating unique eye catching graphics that aren't seen elsewhere. We are experienced in performance optimisation, fine tuning shaders and game engine effects to ensure the best possible look for your video game project and target platform.
      
  .row.center
    .wide-column
      p
        | 
