h2 Worlds
.content
  .row.center
    .world
      .world_content
        h3 Demonology
        p Demonology is an animated webseries that follows the adventures of two young demons living in the suburbs of hell.
        p Still in pre-production, we can't wait to show you the hilarious, mysterious and awesome world of Demonology.
        a(href='#' target='_blank' disabled) Coming soon!
  .row.center
    .world
      .world_content
        h3 Kamigen
        p Kamigen is a solarpunk webcomic featuring pre Colonial Filipino mythology. The story is told from multiple points of view.
        p Hopeful, bright and a little bit cheesy - the world of Kamigen is heavily influenced by some of our favourite sci-fi worlds. 
        a(href='https://kamigen.com/' target='_blank' disabled) Visit Kamigen
  .row.center
    .world
      .world_content
        h3 Langenium
        p Langenium is a sci-fi game you can play right in your browser. Fly through strange skies, dodge missiles, and uncover a mysterious sci-fi world.
        p Fast, a little wild, and always evolving. Langenium is a place to explore, mess around, and lose yourself for a while.

  .row
    .tiles
      .tile
        .tile_content
          .tile_innercontent
            include blocks/list_behind_the_scenes.pug
      .tile
        .tile_content
          .tile_innercontent
            include blocks/tile_support_us.pug