h2 Worlds
.content
  .row.center
    .world
      .world_content
        h3 Demonology
        p We embrace differences, cherishing the rich tapestry of backgrounds, experiences, and identities that each person brings. It is important to us that working relationships are not only productive but also built on a foundation of mutual respect and appreciation.
  .row.center
    .world
      .world_content
        h3 Kamigen
        p We embrace differences, cherishing the rich tapestry of backgrounds, experiences, and identities that each person brings. It is important to us that working relationships are not only productive but also built on a foundation of mutual respect and appreciation.
  .row.center
    .world
      .world_content
        h3 Langenium
        p We embrace differences, cherishing the rich tapestry of backgrounds, experiences, and identities that each person brings. It is important to us that working relationships are not only productive but also built on a foundation of mutual respect and appreciation.
  .row
    .tiles
      .tile
        .tile_content
          .tile_innercontent
            include blocks/list_behind_the_scenes.pug
      .tile
        .tile_content
          .tile_innercontent
            include blocks/tile_support_us.pug