/* 1999 Styles */
/* Base */
@-moz-keyframes fadeInOut {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
@-o-keyframes fadeInOut {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes fadeInOut {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: SourceSans, Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
a {
  color: #0ef;
}
h3 {
  font-family: VeraMono, Verdana, Geneva, Tahoma, sans-serif;
  color: #ff69cb;
  margin: 1.5rem 0;
}
p {
  line-height: 1.5rem;
}
form {
  border: 2px dotted #ff69cb;
  border-radius: 0.75rem;
  margin: 2rem 0;
  padding: 1.5rem;
}
form button,
form textarea,
form input {
  width: calc(100% - 2rem);
  margin: 0.75rem 0rem 1rem;
  padding: 1rem;
  border-radius: 0.75rem;
  border: solid 1px #ff69cb;
  background: none transparent;
  color: #fff;
}
form button {
  border-color: #0ef;
  text-transform: uppercase;
  width: 100%;
}
form button:hover {
  background: #09a;
  cursor: pointer;
}
.hide-overflow {
  overflow: hidden;
}
@font-face {
  font-family: SourceSans;
  src: url("/assets/fonts/SourceSans3-Light.woff");
  src: url("/assets/fonts/SourceSans3-Light.woff2");
}
@font-face {
  font-family: Stigmature;
  src: url("/assets/fonts/Stigmature.otf");
}
@font-face {
  font-family: VeraMono;
  src: url("/assets/fonts/VeraMono.woff");
  src: url("/assets/fonts/VeraMono.woff2");
}
/* Components */
.icon_button {
  text-decoration: none;
}
.icon_button img {
  width: 1.1rem;
  height: auto;
  border-radius: 4px;
  margin: 0 0.5rem 0 0;
}
a.icon_button img:hover {
  background-color: #fff;
  box-shadow: 0px 0px 4px #fff;
}
.contact_page .icon_button {
  display: flex;
  align-items: center;
  flex-flow: row;
}
.contact_page .icon_button img {
  width: 1.5rem;
}
.keen-slider.thumbnail {
  margin-top: 10px;
  padding: 1.5px;
}
.thumbnail .keen-slider__slide {
  border-radius: 0.5rem;
  font-size: 30px;
  height: 67px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide:hover {
  box-shadow: #ff69cb 0px 0px 5px;
}
.thumbnail .keen-slider__slide.active {
  outline: 2px dotted #ff69cb;
  outline-offset: -3px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.parvus,
.lightbox {
  --parvus-background-color: #000;
  --parvus-btn-background-color: #ff69cb;
}
.content .feature .feature_media .keen-slider__slide img {
  border-radius: 0.5rem;
}
.keen-slider.main .keen-slider__slide .lightbox img {
  min-height: 209px;
  max-height: 209px;
}
.parvus__toolbar {
  inset-block-start: 0.5rem;
  inset-inline: 0.5rem;
  justify-content: center;
}
/* Sections */
#page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
#page-wrapper h2 {
  font-family: Stigmature, "Brush Script MT", cursive;
  color: #fff;
  text-shadow: 2.5px 2.5px 5px #ff69cb;
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
  margin: 2vh 0;
  text-transform: lowercase;
  animation: fadeInOut 2s infinite alternate;
  animation-delay: 0.5s;
}
@media screen and (min-width: 1200px) {
  #page-wrapper h2 {
    font-size: 10rem;
  }
  #page-wrapper {
    align-items: center;
  }
}
.header,
.menu,
.content,
.footer {
  position: relative;
}
.content_row {
  position: relative;
  width: 100vw;
}
.content_row .content {
  padding: 1rem 1.5rem 420px;
}
.content_row::before {
  content: "";
  background: no-repeat url("/assets/images/backgrounds/highway.jpg");
  background-position: bottom;
  background-size: 100%;
  display: block;
  height: 100%;
  mix-blend-mode: screen;
  position: absolute;
  width: 100vw;
  z-index: 0;
}
.content_row.bg_reverse::before {
  background: no-repeat url("/assets/images/backgrounds/reverse.jpg");
  background-position: bottom;
  background-size: 100%;
}
.content_row.bg_river::before {
  background: no-repeat url("/assets/images/backgrounds/river.jpg");
  background-position: bottom center;
  background-size: cover;
}
.content_row.bg_river .content {
  padding-bottom: 350px;
}
.content_row.newsletter::before {
  background: no-repeat url("/assets/images/backgrounds/newsletter.jpg");
  background-position: center;
  background-size: cover;
}
.content_row.newsletter .content {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.content_row.footer::before {
  background: no-repeat url("/assets/images/backgrounds/footer.jpg");
  background-position: bottom;
  background-size: 100%;
  padding: 0 2rem 0;
  width: calc(100vw - 4rem);
}
.content_row.footer .narrow-column a {
  color: #fff;
  text-decoration: none;
}
.content_row.footer .narrow-column a:hover {
  text-decoration: underline;
}
.content a:hover {
  text-decoration: none;
  color: #9ff;
}
.content a img:hover {
  opacity: 0.9;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 2rem;
  max-width: 960px;
}
.content.wide {
  max-width: 1280px;
}
.row .content {
  margin: 0px auto;
}
.content .row {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}
.row .content.portfolio .column {
  margin-bottom: 2.5rem;
}
.content .row.center {
  justify-content: center;
  text-align: center;
}
.content .wide-column {
  flex-basis: 65%;
}
.content .column {
  flex-basis: 45%;
}
.content .narrow-column {
  flex-basis: 25%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 2rem;
  max-width: 960px;
}
.content p {
  margin-bottom: 1rem;
}
.content.wide {
  max-width: 1280px;
}
.content_row .content {
  margin: 0px auto;
}
.content .row {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}
.content_row .content.portfolio .column {
  margin-bottom: 2.5rem;
}
.content .row.center {
  justify-content: center;
  text-align: center;
}
.content .wide-column {
  flex-basis: 65%;
}
.content .column {
  flex-basis: 45%;
}
.content .narrow-column {
  flex-basis: 25%;
}
.content .cards,
.content .tiles,
.content .profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.content .cards .card,
.content .tiles .tile,
.content .profiles .profile {
  border-radius: 1rem;
  border: solid 1px #ff69cb;
  flex-basis: calc(90% - 1rem);
  margin: 1rem 0.5rem;
  flex-direction: row;
}
.content .tiles .tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}
.content .tiles .tile .tile_content {
  display: flex;
  justify-content: space-evenly;
}
.content .tiles .tile .tile_content.horizontal {
  flex-direction: column;
  text-align: center;
}
.content .tiles .tile .tile_content.horizontal .tile_innercontent {
  max-width: calc(100% - 2rem);
  margin: 1rem auto 0;
}
.content .tiles .tile .tile_content.horizontal .tile_img {
  max-height: 80px;
  max-width: calc(100% - 2rem);
  padding: 1rem;
  object-fit: contain;
  object-position: center;
}
.content .tiles .tile .tile_content.vertical {
  flex-direction: row;
}
.content .tiles .tile .tile_content.vertical .tile_innercontent {
  max-width: calc(60%);
  margin: 1rem;
}
.content .tiles .tile .tile_content.vertical .tile_img {
  max-width: calc(40% - 4rem);
  padding: 2rem;
  object-fit: contain;
  object-position: center;
}
.content .tiles .tile .tokens {
  display: flex;
}
.content .tiles .tile .tokens .token {
  border-radius: 1rem;
  flex-basis: calc(33% - 1rem);
  background: #0e040a;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
.content .tiles .tile .tokens .token h4 {
  margin: 0.5rem;
  font-size: 0.8rem;
}
.content .tiles .tile .tokens .token h5 {
  font-size: 1.6rem;
  margin: 0 0 0.6rem 0;
}
.content .tiles .tile .tokens .token img {
  height: 1.6rem;
  margin: 0.4rem;
}
.content .profiles .profile h3 {
  margin: 1rem;
}
.content .cards .card p,
.content .profiles .profile p {
  margin: 1rem 1rem 2rem 1rem;
}
.content .cards .card .card_image,
.content .profiles .profile .profile_image {
  border-radius: 1rem 1rem 0 0;
  max-width: 100%;
  height: auto;
}
.content .feature {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  border: solid 1px #ff69cb;
  flex-basis: calc(90% - 1rem);
  margin: 1rem 0;
  padding: 1rem 0;
}
.content .feature .feature_media,
.content .feature .feature_content {
  flex-basis: calc(90% - 1rem);
  flex-direction: row;
  margin: 0 auto;
}
.content .feature .feature_media img {
  display: block;
  margin: 1rem auto;
  width: 50%;
  height: auto;
}
.content .feature.wide {
  padding: 1rem;
  min-width: 0;
  justify-content: space-between;
}
.content .feature.wide .feature_content {
  padding: 1rem;
}
.content .feature.wide .feature_media {
  margin: 2rem auto;
  max-width: calc(99% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content .feature.wide .feature_media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .content .tiles {
    margin: 1rem -2rem;
  }
  .content .feature.wide {
    margin: 1rem 0;
  }
  .content .feature {
    padding: 0;
  }
  .content .feature .feature_media,
  .content .feature .feature_content {
    flex-basis: calc(55% - 2rem);
    flex-direction: row;
  }
  .content .feature .feature_content {
    flex-basis: calc(45% - 2rem);
    padding: 1.25rem 2rem;
    text-align: left;
  }
  .content .feature.wide .feature_content {
    max-width: calc(45% - 2rem);
  }
  .content .feature.wide .feature_media {
    margin: inherit;
    max-width: calc(55% - 2rem);
  }
  .content .feature .feature_media img {
    border-radius: 1rem;
    display: block;
    margin: inherit;
    width: 100%;
    height: auto;
  }
  .content .tiles .tile {
    flex-basis: calc(49% - 3rem);
  }
  .content .profiles .profile {
    flex-basis: calc(49% - 1rem);
  }
  .content .cards .card {
    flex-basis: calc(30% - 1rem);
    margin: 1rem 0.5rem;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .content {
    max-width: 760px;
  }
}
@media screen and (min-width: 1200px) {
  .header,
  .menu,
  .content,
  .footer {
    width: 100vw;
  }
  .content,
  .content .row {
    flex-direction: row;
    margin: 2rem;
  }
  .content_row .content {
    padding-bottom: 50vh;
  }
  .content_row.bg_reverse .content {
    padding-bottom: 860px;
  }
  .content_row .content.portfolio .column {
    margin-bottom: 0rem;
  }
  .content .cards,
  .content .profiles {
    margin-left: -20%;
    margin-right: -20%;
    flex-wrap: inherit;
  }
  .content .profiles .profile {
    flex-basis: calc(30% - 1rem);
  }
  .content .cards .card {
    border-radius: 1rem;
    border: solid 1px #ff69cb;
    flex-basis: calc(20% - 1rem);
    margin: 0 0.5rem;
    flex-direction: column;
  }
  .content_row.footer .content {
    padding-top: 10vh;
    padding-bottom: 30vh;
  }
}
@media screen and (min-width: 2400px) {
  .content_row .content {
    padding-bottom: 75vh;
  }
}
.header_bg {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  min-height: 1080px;
  z-index: 0;
}
.header_bg {
  background: no-repeat url("/assets/images/backgrounds/header.jpg");
  background-position: center -230px;
}
@media screen and (min-width: 3000px) {
  .header_bg {
    background-position: center -264px;
  }
}
.header {
  text-align: center;
  min-height: 200px;
}
.header .h1 {
  margin: 0;
  position: relative;
  z-index: 1;
}
.header img {
  background: #000;
  background: radial-gradient(circle, #000 50%, rgba(0,0,0,0) 60%);
  height: auto;
  max-width: 50vw;
  animation: fadeInOut 2s infinite alternate;
}
@media screen and (min-width: 1200px) {
  .header img {
    max-width: inherit;
  }
}
.footer {
  min-height: 266px;
  text-align: center;
}
.footer ul {
  list-style: none outside;
  padding: 0px;
}
.content_row.footer .content {
  padding-top: 2.5vh;
  padding-bottom: 7.5vh;
}
@media screen and (min-width: 768px) {
  .content_row.footer .content .row {
    flex-direction: row;
  }
  .footer {
    text-align: left;
  }
  .content_row.footer .content {
    padding-top: 5vh;
    padding-bottom: 15vh;
  }
}
.menu {
  margin: 1rem;
  color: #fff;
  text-align: center;
}
.menu ul {
  padding: 0 1rem;
}
.menu li {
  display: inline-block;
  font-family: VeraMono, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.menu a {
  color: #01cdfe;
  text-decoration: none;
}
.menu a.active {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .menu li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
.blog_post {
  display: block !important;
}
.blog_post h2 {
  font-family: SourceSans !important;
  font-size: 2rem !important;
  text-transform: none !important;
  padding-bottom: 1rem !important;
  font-style: italic !important;
  line-height: 4rem !important;
  font-weight: bold !important;
}
.blog_post h3 {
  font-size: 1.5rem !important;
}
.blog_post img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 2rem;
}
.blog_post li strong,
.blog_post li,
.blog_post p {
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
.blog_post > ul {
  margin-top: 1rem;
}
.blog_post li {
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .blog_post h2 {
    font-size: 4rem !important;
    padding-bottom: 2rem !important;
    line-height: 6rem !important;
  }
  .blog_post h3 {
    font-size: 2rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wp-block-heading {
  font-size: 1.8em;
  margin: 2em 0 1em;
}
.wp-block-image {
  margin: 1em 0;
  display: block;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.is-resized {
  max-width: 100%;
  height: auto;
}
.wp-element-caption {
  font-size: 0.875em;
  text-align: center;
  color: #666;
  margin-top: -1rem;
}
.size-large {
  width: 100%;
}
.size-full {
  width: auto;
}
.wp-block-code {
  background: #0f0e22;
  padding: 1em;
  border-left: 3px solid #007cba;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 2rem;
}
.has-white-color {
  color: #fff;
}
.has-black-background-color {
  background-color: #000;
  color: #fff;
}
.has-text-color {
  color: var(--custom-text-color, #000);
}
.has-background {
  background-color: var(--custom-background-color, #0f0e22);
}
.has-link-color {
  color: var(--link-color, #007cba);
}
pre.wp-block-code .language-html {
  color: #e44d26; /* HTML color */
}
pre.wp-block-code .language-javascript {
  color: #f7df1e; /* JavaScript color */
}
pre.wp-block-code .token {
  color: #f7df1e;
}
pre.wp-block-code .tag {
  color: #e44d26;
}
pre.wp-block-code .punctuation {
  color: #000;
}
pre.wp-block-code .attr-name {
  color: #007cba;
}
pre.wp-block-code .attr-value {
  color: #d14;
}
pre.wp-block-code .attr-equals {
  color: #000;
}
pre.wp-block-code .script {
  color: #000;
}
pre.wp-block-code .keyword {
  color: #007bff; /* Keyword color */
}
pre.wp-block-code .function {
  color: #3c8dbc; /* Function color */
}
pre.wp-block-code .operator {
  color: #000;
}
pre.wp-block-code .number {
  color: #007cba; /* Number color */
}
.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
}
.is-layout-flex {
  display: flex;
}
.wp-block-column {
  flex: 1;
  padding: 0.5em;
}
.wp-block-list {
  list-style: disc;
  margin-left: 2em;
}
.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.wp-image-43,
.wp-image-54,
.wp-image-62,
.wp-image-66,
.wp-image-80,
.wp-image-82,
.wp-image-83,
.wp-image-85,
.wp-image-86,
.wp-image-88,
.wp-image-93,
.wp-image-94,
.wp-image-97,
.wp-image-98,
.wp-image-100,
.wp-image-102,
.wp-image-103,
.wp-image-124,
.wp-image-135,
.wp-image-136,
.wp-image-99 {
  max-width: 100%;
  height: auto;
}
.has-nested-images {
  display: flex;
  flex-wrap: wrap;
}
.is-cropped {
  object-fit: cover;
}
code[class*="language-"],
pre[class*="language-"] {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(220,7,142,0.2), 0 0 10px rgba(255,255,255,0.2);
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #2a2139 75%, #34294f);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
code .token.comment,
code .token.block-comment,
code .token.prolog,
code .token.doctype,
code .token.cdata {
  color: #8e8e8e;
}
code .token.punctuation {
  color: #ccc;
}
code .token.tag,
code .token.attr-name,
code .token.namespace,
code .token.number,
code .token.unit,
code .token.hexcode,
code .token.deleted {
  color: #e2777a;
}
code .token.property,
code .token.selector {
  color: #72f1b8;
  text-shadow: 0 0 2px #100c0f, 0 0 10px rgba(37,124,85,0.459), 0 0 35px rgba(33,39,36,0.459);
}
code .token.function-name {
  color: #6196cc;
}
code .token.boolean,
code .token.selector .token.id,
code .token.function {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716, 0 0 3px rgba(3,237,249,0.459), 0 0 5px rgba(3,237,249,0.459), 0 0 8px rgba(3,237,249,0.459);
}
code .token.class-name {
  color: #fff5f6;
  text-shadow: 0 0 2px #000, 0 0 10px rgba(252,31,44,0.459), 0 0 5px rgba(252,31,44,0.459), 0 0 25px rgba(252,31,44,0.459);
}
code .token.constant,
code .token.symbol {
  color: #f92aad;
  text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(220,7,142,0.2), 0 0 10px rgba(255,255,255,0.2);
}
code .token.important,
code .token.atrule,
code .token.keyword,
code .token.selector .token.class,
code .token.builtin {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33, 0 0 8px rgba(243,159,5,0.459), 0 0 2px rgba(243,159,5,0.459);
}
code .token.string,
code .token.char,
code .token.attr-value,
code .token.regex,
code .token.variable {
  color: #f87c32;
}
code .token.operator,
code .token.entity,
code .token.url {
  color: #67cdcc;
}
code .token.important,
code .token.bold {
  font-weight: bold;
}
code .token.italic {
  font-style: italic;
}
code .token.entity {
  cursor: help;
}
code .token.inserted {
  color: #008000;
}
