---
permalink: "blog/2023/09/studio-roundup-september-2023.html"
dynamicPermalink: false
title: Studio Roundup for September 2023 | Open Studios | Perth, Western Australia
description: Explore our digital studio case studies, where we feature some of our best work. Gain insights into our process, expertise and abilities.
cover: https://openstudios.xyz/assets/images/pages/case_studies.jpg
date: 2023-12-28T16:58:16.267Z
priority: "0.9"
changefreq: daily
---

extends ../../../../templates/1999_html.pug

block append page
  h2 September 2023
  .content(style="display: inherit;")
    include:markdown-it(html) ../../../../content/blog/2023/09/Studio Roundup for September 2023.md
