.content_row {
    position: relative;
    width: 100vw;
}

.content_row .content {
    padding: 1rem 1.5rem 420px;
}

.content_row::before {
    content: "";
    background: no-repeat url(/assets/images/backgrounds/highway.jpg);
    background-position: bottom;
    background-size: 100%;
    display: block;
    height: 100%;
    mix-blend-mode: screen;
    position: absolute;
    width: 100vw;
    z-index: 0;
}

.content_row.bg_reverse::before {
    background: no-repeat url(/assets/images/backgrounds/reverse.jpg);
    background-position: bottom;
    background-size: 100%;
}

.content_row.bg_river::before {
    background: no-repeat url(/assets/images/backgrounds/river.jpg);
    background-position: bottom center;
    background-size: cover;
}

.content_row.bg_river .content {
    padding-bottom: 350px;
}

.content_row.newsletter::before {
    background: no-repeat url(/assets/images/backgrounds/newsletter.jpg);
    background-position: center;
    background-size: cover;
}

.content_row.newsletter .content {
    padding-top: min(100px, 10vh);
    padding-bottom: min(100px, 10vh);
}

.content_row.footer::before {
    background: no-repeat url(/assets/images/backgrounds/footer.jpg);
    background-position: bottom;
    background-size: 100%;
    padding: 0 2rem 0;
    width: calc(100vw - 4rem);
}

.content_row.footer .narrow-column a {
    color: white;
    text-decoration: none;
}

.content_row.footer .narrow-column a:hover {
    text-decoration: underline;
}
