h3 Guides
p Interested in making something special? We may have what you need!
p
    a(href='/blog/2025/07/beginners-guide-to-self-hosted-applications.html' target='_blank' title='Beginners Guide to Self Hosted Applications') Beginners Guide to Self Hosted Applications
p
    a(href='/blog/2023/10/building-a-cool-3d-website-tips-tricks-and-lessons-learned.html' target='_blank' title='Building A Cool 3D website: Tips, Tricks and Lessons Learned') Building A Cool 3D website: Tips, Tricks and Lessons Learned
p
    a(href='/blog/2024/09/how-to-implement-blender-principled-bsdf-materials-in-three-js-webgl.html'  target='_blank' title='How to implement Blender Principled BSDF Materials in Three.js (WebGL)') How to implement Blender Principled BSDF Materials in Three.js (WebGL)