---
permalink: "404.html"
dynamicPermalink: false
eleventyExcludeFromCollections: true

---

extends ../templates/1999_html.pug

block append title
  | Page not found | Open Studios

block append page
  include ../content/404.pug