---
permalink: "about_us.html"
dynamicPermalink: false
title: About Us | Open Studios | Perth, Western Australia
---

extends ../templates/1999_html.pug

block append page
  include ../content/about_us.pug