---
permalink: "accessibility.html"
dynamicPermalink: false
---

extends ../templates/1999_html.pug

block append title
  | Accessibility | Open Studios | Perth, Western Australia

block append page
  include ../content/accessibility.pug