---
permalink: "case_studies.html"
dynamicPermalink: false
---

extends ../templates/1999_html.pug

block append title
  | Case Studies | Open Studios

block append page
  include ../content/case_studies.pug