.header_bg {
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    min-height: max(1080px, 100vh);
    z-index: 0;
}

.header_bg {
    background: no-repeat url(/assets/images/backgrounds/header.jpg);
    background-position: center -230px;
}

@media screen and (min-width: 3000px) {
    .header_bg {
        background-position: center -264px;
    }
}

.header {
    text-align: center;
    min-height: 200px;
}

.header .h1 {
    margin: 0;
    position: relative;
    z-index: 1;
}

.header img {
    background: rgb(0, 0, 0);
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 60%
    );
    height: auto;
    max-width: 50vw;
    animation: fadeInOut 2s infinite alternate;
}


@media screen and (min-width: 1200px) {
    .header img {
      max-width: inherit;
    }
}